@()
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Como Estudar</title>


<!-- Usados no templt -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.LoginController.index">Home</a></li>
					<li><a href="@routes.LoginController.aulasIndex">Aulas</a></li>
					<li><a href="@routes.Application.comoEstudar">Como estudar?</a></li>
					<li><a href="@routes.Application.sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('@routes.Assets.at("images/studying.jpg")')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1 style="color: white; size: 18">Como você estuda?</h1>
	 					<hr class="large">
<!-- 						<span class="subheading">Bons estudos!</span> -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h2>Você já parou para pensar que o seu
					método de estudo poderia ser mais eficiente?</h2>
				<p>Estudar exige mais do que paciência e força de vontade.
					Estudar requer também, muita disciplina e o domínio de algumas
					técnicas para que o aprendizado seja feito com a máxima eficiência
					e o mínimo de tempo.</p>
				<p>Uma boa dica é não deixar tudo para a véspera. De fato, não é
					fácil conseguir motivação hoje, e começar a estudar para uma prova
					que só será daqui a 2 semanas. Mas isso, é só uma questão de
					reeducação de hábitos. Experimente reservar 2 horas de seus dias,
					para estudar o conteúdo das aulas dadas naquele dia. Com o tempo,
					você terá mais facilidade em compreender e memorizar toda o
					conteúdo, e ainda sentirá uma queda no nível de stress das vésperas
					de prova, o acumulo de conteúdo, pode deixar você sem saber por
					onde começar seu estudo. Fazendo assim você vai estar estudando
					menos e aprendendo mais.</p>
				<p>Um método comum de estudo é pegar a apostila e ir grifando
					aquelas partes que parecem ser importantes ou fazer um resumo de
					todo o conteúdo, porém segundo uma pesquisa feita pelo
					Psychological Science in the Public Interest, essas não são
					técnicas eficientes, já que pode-se ignorar partes importantes do
					conteúdo. Essa pesquisa afirma também, que não é proveitoso passar
					o dia inteiro estudando apenas para uma disciplina (o que costuma
					acontecer nas vésperas das provas)! Pois assim iremos perder o foco
					e o interesse com maior facilidade, deve-se no entanto, dividir o
					tempo para duas ou mais disciplinas todos os dias, o que só vai
					acontecer se o aluno se organizar e criar esse hábito, a parte boa
					é que a tecnologia pode te dar uma mãozinha, hoje existem inúmeros
					aplicativos para a criação de cronogramas.</p>
				<p>Outra boa prática, é ao ler uma parte do conteúdo ficar
					fazendo perguntas a si mesmo sobre o que você leu e também fazer os
					exercícios, a mesma pesquisa afirma que isso é mais importante do
					que ficar resumindo textos.</p>
				<p>As anotações ainda são um bom método, pois a escrita é um
					importante instrumento para preservar o conhecimento, porém não se
					deve ir escrevendo tudo que se ouve, lê ou vê. Tomar notas supões
					rapidez e economia. Por isso, as anotações tem de ser:</p>
				<ul>
					<li>Suficientemente claras e detalhadas, para que sejam
						compreendidas mesmo depois de algum tempo;</li>
					<li>Suficientemente sintéticas, para não ser preciso
						recorrer ao registro completo, ou quase, de um assunto.</li>
				</ul>
				
				<h3>Tira bastante interessante sobre a temida procrastinação:<a href="http://mel-meow.com/uma-longa-noite-aprendendo/"> Uma longa noite aprendendo</a></h3>
				
				<br>
				<br>
			</div>
		</div>
	</div>
</body>
<style type="text/css">
p {
	text-align: justify;
	color: #585858;
}

h2, h3 {
	color: #424242;
}


li {
	color: #585858;
	text-align: justify;
	list-style: upper-roman;
}
</style>
</html>