@(message: String)
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Aulas</title>


<!-- Usados no templt -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
</head>
<!--/#head-->
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.Application.index">Home</a></li>
					<li><a href="@routes.AulasController.index">Aulas</a></li>
					<li><a href="@routes.Application.comoEstudar">Como
							estudar?</a></li>
					<li><a href="@routes.Application.sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('@routes.Assets.at("images/image-bg.png")')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h2 style="color: white; size: 18s">
							UNIDADE III - INTRODUÇÃO À MECÂNICA QUÂNTICA: <br>
							<h3 style="color: white; size: 12s">
                       		A função de Onda do Elétron. 
							Pacotes de Onda do Elétron. 
							O Princípio da Incerteza.
 							Dualidade Onda-Partícula. 
 							A Equação de Schrodinger. 
 							Partícula numa Caixa.
  							Partícula num Poço Vertical Finito. 
 							Valores Esperados. 
 							Reflexão e Transmissão das Ondas dos Elétrons: Penetração de Barreiras. 
 							A Equação de Schrodinger em Três Dimensões. 
  							A  Equação de Schrodinger de Duas Partículas Idênticas.</h3>
  	</h2>
  	<br>
  	<h2 style="color: white; size: 18s">
							UNIDADE IV - SÓLIDOS: <br>
							<h3 style="color: white; size: 12s">
							A Estrutura dos Sólidos.
 							A Teoria Clássica dos Elétrons Livres nos Metais. 
							O Gás de Elétrons de Fermi. 
							Teoria Quântica da Condução Elétrica. 
 							Teoria das Bandas para os Sólidos. 
 							Semicondutores Extrínsecos. 
  							Junções e Dispositivos Semicondutores. 
 							 Supercondutividade.</h3>
						</h2>
						<br>
						<hr class="small">
						<span class="subheading">Inicie o crônometro e decida
							quantas horas de estudo você didicará a este contúdo!</span>
							<br>
							<span class="subheading">Adicione anotações sobre o conteúdo!</span>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- aqui inicia o código para o cronometro-->
	<script>
				function formatatempo(segs) {
					min = 0;
					hr = 0;
					/*
					if hr < 10 then hr = "0"&hr
					if min < 10 then min = "0"&min
					if segs < 10 then segs = "0"&segs
					*/
					while(segs>=60) {
					 if (segs >=60) {
					  segs = segs-60;
					  min = min+1;
					 }
					}
								
				   while(min>=60) {
					if (min >=60) {
					 min = min-60;
					 hr = hr+1;
					}
				   }
								
				  if (hr < 10) {hr = "0"+hr}
				  if (min < 10) {min = "0"+min}
				  if (segs < 10) {segs = "0"+segs}
				  fin = hr+":"+min+":"+segs
				  return fin;
				  }
				  var segundos = 0; //inicio do cronometro
				  function conta() {
				  segundos++;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
								
				  function inicia(){
				  interval = setInterval("conta();",1000);
				  }
								
				  function para(){
				  clearInterval(interval);
				  }
								
				  function zera(){
				  clearInterval(interval);
				  segundos = 0;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
			  </script>

	<!-- Main Content -->
	<div id="slide">
		<!-- 		"col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" -->
		<p>Conteúdo para Unidade III e IV</p>
		

	<div id="anotacao">
		<div>
			<span id="counter">00:00:00</span> <br> 
			<input type="button" class="btn btn-primary" value="Parar" onclick="para();">
			<input type="button" class="btn btn-primary" value="Iniciar" onclick="inicia();">
			<input type="button" class="btn btn-primary" value="Zerar" onclick="zera();">
		</div>
		
		<form method="POST">
			<div id="dynamicInput">
				Anotação 1<br>
				<textarea name="myTextAreas[]" rows="10" cols="30"></textarea>
			</div>
			<input type="button" value="Nova anotação"
				onClick="addInput('dynamicInput');">
		</form>
	</div>

	<script>
var counter = 1;
var limit = 10;
function addInput(divName){
     if (counter == limit)  {
          alert("Número maximo de anotacões " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "Anotação " + (counter + 1) + " <br><textarea name='myTextAreas[]' rows='10' cols='30'>type here...</textarea>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>
	<style type="text/css">
textarea {
	background: url('@routes.Assets.at("images/paper-background.jpg")');
	width: 200px;
	height: 150px;
	font: normal 14px verdana;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
}

#anotacao {
	width: 350px;
	height: 800px;
	float: right;
	overflow-y: auto;
}

#slide {
	width: 960px;
	height: 750px;
	left: 10px;
	right: 10px;
	float: left;
}
</style>

</body>
</html>