@(usuario:models.Usuario)
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Aulas</title>


<!-- Usados no templt -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
</head>
<!--/#head-->
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.LoginController.index">Home</a></li>
					<li><a href="@routes.LoginController.aulasIndex">Aulas</a></li>
					<li><a href="@routes.Application.comoEstudar">Como
							estudar?</a></li>
					<li><a href="@routes.Application.sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('@routes.Assets.at("images/image-bg.png")')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h2 style="color: white; size: 18s">
							UNIDADE III - INTRODUÇÃO À MECÂNICA QUÂNTICA: <br>
							<h3 style="color: white; size: 12s">
                       		A função de Onda do Elétron. 
							Pacotes de Onda do Elétron. 
							O Princípio da Incerteza.
 							Dualidade Onda-Partícula. 
 							A Equação de Schrodinger. 
 							Partícula numa Caixa.
  							Partícula num Poço Vertical Finito. 
 							Valores Esperados. 
 							Reflexão e Transmissão das Ondas dos Elétrons: Penetração de Barreiras. 
 							A Equação de Schrodinger em Três Dimensões. 
  							A  Equação de Schrodinger de Duas Partículas Idênticas.</h3>
  	</h2>
  	<br>
  	<h2 style="color: white; size: 18s">
							UNIDADE IV - SÓLIDOS: <br>
							<h3 style="color: white; size: 12s">
							A Estrutura dos Sólidos.
 							A Teoria Clássica dos Elétrons Livres nos Metais. 
							O Gás de Elétrons de Fermi. 
							Teoria Quântica da Condução Elétrica. 
 							Teoria das Bandas para os Sólidos. 
 							Semicondutores Extrínsecos. 
  							Junções e Dispositivos Semicondutores. 
 							 Supercondutividade.</h3>
						</h2>
						<br>
						<hr class="small">
						<span class="subheading">Inicie o crônometro e decida
							quantas horas de estudo você didicará a este contúdo!</span>
							<br>
							<span class="subheading">Adicione anotações sobre o conteúdo!</span>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- aqui inicia o código para o cronometro-->
	<script>
				function formatatempo(segs) {
					min = 0;
					hr = 0;
					/*
					if hr < 10 then hr = "0"&hr
					if min < 10 then min = "0"&min
					if segs < 10 then segs = "0"&segs
					*/
					while(segs>=60) {
					 if (segs >=60) {
					  segs = segs-60;
					  min = min+1;
					 }
					}
								
				   while(min>=60) {
					if (min >=60) {
					 min = min-60;
					 hr = hr+1;
					}
				   }
								
				  if (hr < 10) {hr = "0"+hr}
				  if (min < 10) {min = "0"+min}
				  if (segs < 10) {segs = "0"+segs}
				  fin = hr+":"+min+":"+segs
				  return fin;
				  }
				  var segundos = 0; //inicio do cronometro
				  function conta() {
				  segundos++;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
								
				  function inicia(){
				  interval = setInterval("conta();",1000);
				  }
								
				  function para(){
				  clearInterval(interval);
				  }
								
				  function zera(){
				  clearInterval(interval);
				  segundos = 0;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
			  </script>

	<!-- Main Content -->
	<div class="conteudo">
		<div class="fixed">
			<iframe
				src="https://docs.google.com/presentation/d/14eiF3ocwgBOSX--l8Ibq-883PND_PKuyqRKQql3XFiE/embed?start=false&loop=false&delayms=3000"
				width="960" height="749"></iframe>
		</div>
		<div class="flex-item">
			<div>
				<span id="counter">00:00:00</span> <br>
				<input type="button"
					class="btn btn-primary" value="Parar" onclick="para();">
				<input
					type="button" class="btn btn-primary" value="Iniciar"
					onclick="inicia();"> 
				<input type="button"
					class="btn btn-primary" value="Zerar" onclick="zera();">
				<br>
				<br>
			</div>
			<form method="post"
				action="@routes.AulasController.savarNotasTerceiroEstagio(usuario.getEmail())">
				<div id="dynamicInput">
					@if(usuario.getAnotacoes().isEmpty()){
					<textarea name="notas[]" rows="10" cols="30"></textarea>
					}else{ @for(anotacao <- usuario.getAnotacoes()){
					@if(anotacao.getEstagio() == 3){
						<textarea name="notasDoUsuario[]" rows="10" cols="30">@anotacao.getCorpo()</textarea>
					} }
					<!-- nova anotação para o usuario -->
					<textarea name="notas[]" rows="10" cols="30"></textarea>
					}
				</div>
				<input class="btn btn-sm btn-link btn-block-slide" style="width: 90%" type="button" value="Nova anotação"
					onClick="addInput('dynamicInput', '');">
				<button class="btn btn-sm btn-primary btn-block-slide" type="submit">Salvar</button>
			</form>
		</div>
	</div>
<script>
	function addInput(divName, text){
		var newdiv = document.createElement('div');
		newdiv.innerHTML = "<textarea name='notas[]' rows='10' cols='30'>" + text + "</textarea>";
	    document.getElementById(divName).appendChild(newdiv);
	}
</script>
		<style type="text/css">
textarea {
	background: repeat center
		url('@routes.Assets.at("images/paper-background.jpg")');
	width: 310px;
	height: 150px;
	font: normal 14px verdana;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
}
</style>

<h2 style="color: blue; size: 18s">
							<u>Glossário:</u></h2>
							  <h3 style="size: 11s">
							<b><u>Princípio da incerteza de Heisemberg:</u></b>
							princípio que estabelece que a posição e o momento linear de uma partícula
							não estão simultaneamente bem definidos.
                            </h3>
							<h3 style="size: 11s">
							<b><u>Função de Onda:</u></b>
							 função que descreve a probabilidade de um ente físico estar em diferentes 
							 regiões do espaço (posição), ou, a probabilidade de um ente físico apresentar
							 diferentes valores de momento linear (momento).  
							 </h3>
							<h3 style="size: 11s">
							<b><u>Densidade de Probabilidade:</u></b>
							é uma função não negativa utilizada para representar a distribuição de probabilidade 
							caso a variável aleatória seja contínua. 
                            </h3>
                           <h3 style="size: 11s">
                            <b><u>Estado Fundamental:</u></b>
							estado de energia mais baixa de um sistema quântico.
                            </h3>
                            <h3 style="size: 11s">
                            <b><u>Estado Excitado:</u></b>
							estado quântico que não é fundamental (portanto com maior energia do que este).
                            </h3>
                             <h3 style="size: 11s">
							<b><u>Equação de Schrödinger:</u></b>
							equação diferencial obedecida pelas funções de onda.
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Condição de Normalização:</u></b>
						    a probabilidade de se encontrar a partícula em qualquer região do espaço, num dado
                            instante de tempo, deve ser igual a 1.Esta condição é conhecida como 
                            “normalização da função de onda”.
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Quântização:</u></b>
							nome dado a característica que muitas grandezas físicas apresentam de (em escala
							microscópica) assumir um conjunto discreto (enumerável, não contínuo) de valores.
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Fórmula de Euler:</u></b>
							é uma fórmula que mostra uma relação entre as funções trigonométricas e 
                            a função exponencial. A fórmula é dada por: e<sup><i>i</i>x</sup> = cos(x) + <i>i</i> sen(x)
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Oscilador Harmônico:</u></b>
							é qualquer sistema que apresenta movimento harmônico de oscilação.
                            </h3>
                            
                            



</body>
</html>