@()
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Sobre</title>

<!-- Usados no templt -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.LoginController.index">Home</a></li>
					<li><a href="@routes.LoginController.aulasIndex">Aulas</a></li>
					<li><a href="@routes.Application.comoEstudar">Como estudar?</a></li>
					<li><a href="@routes.Application.sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('@routes.Assets.at("images/image-bg.png")')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1 style="color: white; size: 14">Sobre</h1>
						<hr class="small">
						<span class="subheading">Desenvolvedores:</span>
						<h3 style="color: white"">Brendha Cruz</h3>
						<h3 style="color: white">Aparecido Silvano</h3>
						<hr class="small">
						<h3 style="color: white">Orinetados pelo professor: Igo Paulino</h3>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>