@(usuario:models.Usuario)
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Aulas</title>


<!-- Usados no templt -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
</head>
<!--/#head-->
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.LoginController.index">Home</a></li>
					<li><a href="@routes.LoginController.aulasIndex">Aulas</a></li>
					<li><a href="@routes.Application.comoEstudar">Como estudar?</a></li>
					<li><a href="@routes.Application.sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('@routes.Assets.at("images/image-bg.png")')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h2 style="color: white; size: 18s">
							UNIDADE II - AS ORIGENS DA TEORIA QUÂNTICA:  <br>
							<h3 style="color: white; size: 12s">A Origem da Constante de Planck: A Radiação do Corpo Negro. 
							O Efeito Fotoelétrico.
							 Raios X. 
							 Espalhamento Compton. 
							Quantização das Energias do Átomo: o Modelo de Bohr. 
							Ondas dos elétrons e Teoria Quântica.</h3>
						</h2>
					    <br>
						<hr class="small">
						<span class="subheading">Inicie o crônometro e decida
							quantas horas de estudo você didicará a este contúdo!</span>
							<br>
							<span class="subheading">Adicione anotações sobre o conteúdo!</span>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- aqui inicia o código para o cronometro-->
	<script>
				function formatatempo(segs) {
					min = 0;
					hr = 0;
					/*
					if hr < 10 then hr = "0"&hr
					if min < 10 then min = "0"&min
					if segs < 10 then segs = "0"&segs
					*/
					while(segs>=60) {
					 if (segs >=60) {
					  segs = segs-60;
					  min = min+1;
					 }
					}
								
				   while(min>=60) {
					if (min >=60) {
					 min = min-60;
					 hr = hr+1;
					}
				   }
								
				  if (hr < 10) {hr = "0"+hr}
				  if (min < 10) {min = "0"+min}
				  if (segs < 10) {segs = "0"+segs}
				  fin = hr+":"+min+":"+segs
				  return fin;
				  }
				  var segundos = 0; //inicio do cronometro
				  function conta() {
				  segundos++;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
								
				  function inicia(){
				  interval = setInterval("conta();",1000);
				  }
								
				  function para(){
				  clearInterval(interval);
				  }
								
				  function zera(){
				  clearInterval(interval);
				  segundos = 0;
				  document.getElementById("counter").innerHTML = formatatempo(segundos);
				  }
			  </script>

	<!-- Main Content -->
	<div class="conteudo">
		<div class="fixed">
			<iframe
				src="https://docs.google.com/presentation/d/1hvOQzCt0jGO-7rXZ8MXVJcLkTe8CNoDMQlD8eRjcZ1w/embed?start=false&loop=false&delayms=3000"
				width="960" height="749"></iframe>
		</div>
		<div class="flex-item">
			<div>
				<span id="counter">00:00:00</span> <br>
				<input type="button"
					class="btn btn-primary" value="Parar" onclick="para();">
				<input
					type="button" class="btn btn-primary" value="Iniciar"
					onclick="inicia();"> 
				<input type="button"
					class="btn btn-primary" value="Zerar" onclick="zera();">
				<br>
				<br>
			</div>
			<form method="post"
				action="@routes.AulasController.savarNotasSegundoEstagio(usuario.getEmail())">
				<div id="dynamicInput">
					@if(usuario.getAnotacoes().isEmpty()){
					<textarea name="notas[]" rows="10" cols="30"></textarea>
					}else{ @for(anotacao <- usuario.getAnotacoes()){
					@if(anotacao.getEstagio() == 2){
						<textarea name="notasDoUsuario[]" rows="10" cols="30">@anotacao.getCorpo()</textarea>
					} }
					<!-- nova anotação para o usuario -->
					<textarea name="notas[]" rows="10" cols="30"></textarea>
					}
				</div>
				<input class="btn btn-sm btn-link btn-block-slide" style="width: 90%" type="button" value="Nova anotação"
					onClick="addInput('dynamicInput', '');">
				<button class="btn btn-sm btn-primary btn-block-slide" type="submit">Salvar</button>
			</form>
		</div>
	</div>

<script>
	function addInput(divName, text){
		var newdiv = document.createElement('div');
		newdiv.innerHTML = "<textarea name='notas[]' rows='10' cols='30'>" + text + "</textarea>";
	    document.getElementById(divName).appendChild(newdiv);
	}
</script>

<style type="text/css">
textarea {
	background: repeat center
		url('@routes.Assets.at("images/paper-background.jpg")');
	width: 310px;
	height: 150px;
	font: normal 14px verdana;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
}
</style>

<h2 style="color: blue; size: 18s">
							<u>Glossário:</u></h2>
							  <h3 style="size: 11s">
							<b><u>Mecânica Quântica:</u></b>
							teoria que descreve fenômenos (associados a corpos massivos) que ocorrem
							em escala microscópica.
                            </h3>
							<h3 style="size: 11s">
							<b><u>Corpo Negro:</u></b>
							 Na Física denominamos corpo negro como sendo um corpo em que toda radiação 
							 térmica incidente sobre ele é absorvida.
							  </h3>
							<h3 style="size: 11s">
							<b><u>Constante de Planck:</u></b>
							constante fundamental da natureza, central na teoria quãntica. Denotada por h,
							seu valor aproximado é de 6,63 x 10<sup>-34</sup>J.s. 
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Efeito Fotoelétrico:</u></b>
							consiste na emissão de elétrons de um meio material qualquer devido a absorção de
							radiação eletromagnética.
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Fóton:</u></b>
							 O fóton é a partícula elementar responsável pelo fenômeno eletromagnético.
							 Tem propriedades tanto de onda quanto de partícula.
                            </h3>
                             <h3 style="size: 11s">
							<b><u>Efeito Compton:</u></b>
							efeito no qual radiação incidente é espalhada (desviada) pela estrutura cristalina
							de um certo material.
                            </h3>
                            <h3 style="size: 11s">
							<b><u>Princípio de De Broglie:</u></b>
							princípio que relaciona o momento linear de uma partícula a um comprimento de onda,
							ou o comprimento de uma onda eletromagnética a uma quantidade de momento linear.
                            </h3>
                            <h3 style="size: 11s">
                            <b><u>Estado Fundamental:</u></b>
							estado de energia mais baixa de um sistema quântico.
                            </h3>
                            

<h2 style="color: blue; size: 18s">
	Alguns Links Úteis:						
</h2>

  <h3 style="color: blue; size: 12s">
        <u><a href="https://www.youtube.com/watch?v=GXAYW4a3OZY" target="_blank" > Dr. Quântum visita a Planolândia e o Experimento de fenda dupla </a></u>
        <br>
		 <u><a href="http://phet.colorado.edu/en/simulation/photoelectric" target="_blank" > Animação sobre o efeito fotoelétrico </a></u>
		<br>
		 <u><a href="http://phet.colorado.edu/en/simulation/wave-interference" target="_blank" > Animação sobre interferência de ondas </a></u>
        <br>
        <u> <a href="https://www.youtube.com/watch?v=BuEdJruu1no" target="_blank" > O Universo Mecânico Quântico </a></u>
        <br>
		 <u><a href="https://www.youtube.com/watch?v=qtYfz72MmtM" target="_blank" > The Fabric of the Cosmos 3 - Quantum Leap </a></u>
        </h3>
        <br>
        <br>

</body>
</html>